.ad-column {
  padding-left: 30px;
}

.ad-column__choose__name {
  font-family: var(--global-font-cool);
  font-size: 20px;
  align-self: flex-end;
}

.ad-column__choose__name_dark {
  color: var(--black-color);
}

.ad-column__choose__name_light {
  color: var(--global-yellow-color);
}

.ad-column__search {
  padding-top: 10px;
}