form.user-page__form
    div.form-group
        div.user-page__input__name email
        input.form-control.user-page__input(placeholder='email' name='email'  type='email')
        div.invalid-feedback
    div.form-group
        div.user-page__input__name password
        input.form-control.user-page__input(placeholder='password' name='password' type='password')
        div.invalid-feedback
    div.form-group
        div.user-page__input__name firstname
        input.form-control.user-page__input(placeholder='firstname' name='firstname' type='firstname')
        div.invalid-feedback
    div.form-group
        div.user-page__input__name lastname
        input.form-control.user-page__input(placeholder='lastname' name='lastname' type='lastname')
        div.invalid-feedback
    div.form-group
        div.user-page__input__name nickname
        input.form-control.user-page__input(placeholder='nickname' name='nickname' type='nickname')
        div.invalid-feedback
    div.form-group
        div.user-page__input__name phone
        input.form-control.user-page__input(placeholder='phone' name='phone' type='phone')
        div.invalid-feedback
    div.input-group.mb-3
        div.custom-file
            input.custom-file-input.user-page__input(placeholder='ad pic' type='file' name='userPic' accept='image/*')
            label.custom-file-label.user-page__label choose file
    div.form__error
    button.btn.user-page__sett-button(type="submit") submit