@import url('https://fonts.googleapis.com/css?family=Barlow|Raleway&display=swap');

:root{
  --global-green-color : #56775C;
  --global-orange-color: #CB9264;
  --global-yellow-color: #F7F6CD;
  --global-red-color: #B7222C;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --global-font-cool: 'Raleway', sans-serif;
  --global-font-main: 'Barlow', sans-serif;
}