.primitive {
  overflow-y: scroll;
}


.primitive::-webkit-scrollbar {
  width: 5px;
}

.primitive::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0 0 60px var(--global-orange-color);
}


.primitive_size {

  @media screen and (min-height: 10px) {
    height: 400px;
  }

  @media screen and (min-height: 400px) {
    height: 610px;
  }


  @media screen and (min-height: 610px) {
    height: 810px;
  }

  @media screen and (min-height: 810px) {
    height: 945px;
  }
}