.primitive {
}

.primitive_size {

  @media screen and (min-height: 10px) {
    height: 400px;
  }

  @media screen and (min-height: 400px) {
    height: 610px;
  }


  @media screen and (min-height: 610px) {
    height: 810px;
  }

  @media screen and (min-height: 810px) {
    height: 945px;
  }
}