div.row.main-page__banner-container_size
    img.main-page__banner_size(src='/images/banner.jpg')
div.row.main-page__container_size
    div.container-fluid.col-10.pl-lg-4.ad-column
    div.container-fluid.col-2