.main-container_size {

  @media screen and (min-height: 10px) {
    height: 340px;
  }

  @media screen and (min-height: 400px) {
    height: 550px;
  }


  @media screen and (min-height: 610px) {
    height: 730px;
  }

  @media screen and (min-height: 810px) {
    height: 865px;
  }
}