div.row.user-info__row.header_size
    div.col-4.offset-4.d-flex.flex-column.justify-content-center
        img.img-fluid.user-info__image.user-info__image_style.rounded-circle(src='/images/user.png')
    div.col-4.d-flex.flex-column.justify-content-center
        div.row.align-self-center.user-info__row__text=user.nickname
        div.row.align-self-center.user-info__row__text 5 ads