div.row.user-info__row
    div.col-4
        img.img-thumbnail.rounded-circle(src='/images/user.png')
    div.col-8.d-flex.flex-column.justify-content-center
        div.row.align-self-center.user-info__row__text username
        div.row.align-self-center.user-info__row__text 5 ads