div.row.d-flex.flex-row.user-page.user-page__container_size.user-page__container
    nav.col-2.d-flex.flex-column.user-page__sidebar.user-page__sidebar_style.user-page__container_size
        ul.list-group-flush.flex-column
            li.list-group-item.user-page__sidebar-item_style(data-section='profile') profile
            li.list-group-item.user-page__sidebar-item_style(data-section='ads') ads
    div.col-6.offset-2.user-page__main

