.header-elems__ref {
  font-family: var(--global-font-main);
  color: var(--white-color);
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}

.header-elems__name {
  font-family: var(--global-font-cool);
  color: var(--global-red-color);
  font-size: 48px;
  cursor: pointer;
}