div.row.d-flex.justify-content-start
    div.pl-lg-4.header-elems__name LOSTIES
    if formType === 'login'
        div.pl-4.pb-3.align-self-end.header-elems__ref sign up
    if formType === 'signup'
        div.pl-4.pb-3.align-self-end.header-elems__ref login