div.row.d-flex.h-75
    div.col-4.offset-4.align-self-center
        div.row.d-flex.justify-content-end
            if formType === 'signup'
                div.forms-page__name Sign up
            if formType === 'login'
                div.forms-page__name Login
        form.forms-page__form
            if formType === 'signup'
                div.form-group
                    input.form-control.forms-page__input(placeholder='firstname' name='firstname' type='firstname')
                    div.invalid-feedback
                div.form-group
                    input.form-control.forms-page__input(placeholder='lastname' name='lastname' type='lastname')
                    div.invalid-feedback
                div.form-group
                    input.form-control.forms-page__input(placeholder='phone' name='phone' type='phone')
                    div.invalid-feedback
                div.form-group
                    input.form-control.forms-page__input(placeholder='nickname' name='nickname' type='nickname')
                    div.invalid-feedback
            div.form-group
                input.form-control.forms-page__input(placeholder='email' name='email'  type='email')
                div.invalid-feedback
            div.form-group
                input.form-control.forms-page__input(placeholder='password' name='password' type='password')
                div.invalid-feedback
            button.btn.forms-page__button(type="submit") submit

