div.row.d-flex.h-75
    div.col-4.offset-4.align-self-center
        div.row.d-flex.justify-content-end
            if formType === 'signup'
                div.forms-page__name Sign up
            if formType === 'login'
                div.forms-page__name Login
        if formType === 'signup'
            div.form-group
                input.form-control.forms-page__input(placeholder='full name')
        div.form-group
            input.form-control.forms-page__input(placeholder='email' type='email')
            div.invalid-feedback
        div.form-group
            input.form-control.forms-page__input(placeholder='password' type='password')
            div.invalid-feedback
        button.btn.forms-page__button(type="submit") submit

