div.row.ad-column__choose
    div.col-4.ad-column__choose__name.ad-column__choose__name_dark Lost
    div.col-4.ad-column__choose__name.ad-column__choose__name_light Found
    div.col-4 sort by
div.row.pt-md-4
    div.input-group.ad-column__input-group
        img.input-group-prepend.img-fluid.ad-column__image.ad-column__image_style.ad-column__image_size(src='/images/loupe.png')
        input.form-control.ad-column__input(placeholder='search ad')
div.row.ad-column__window
