div.row.d-flex.flex-column.comment.comment_style
    div.col-11.align-self-center.comment__user.comment__user_style=user.nickname
    div.col-11.align-self-center.comment__text.comment__text_style=comment.text
    div.col-11.align-self-end.comment__date.comment__date_style=comment.date
