div.row.ads__header
    div.col-8.row.ads__header__names
        div.col-6.ads__header__name.ads__header__name_dark(data-section="lost") lost
        div.col-6.ads__header__name.ads__header__name_light(data-section="found") found
    div.col-4.row
        div.col-6.ads__header__sort-dropdown
        div.col-6.ads__header__button-row
            button.btn.ads__button.ads__button_style(data-section="user-new-ad") add ad
div.row.ads__row